.destaque {
    font-weight: bold;
}

.intro {
    margin-top: 3rem;
}

.card-title {
    font-size: 2.8rem;
}

.card-space {
    padding-bottom: 1rem;
}

.subtitulo {
    font-size: 1.4rem;
}

input[type=text], input[type=password] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}